@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..800&display=swap');

/* geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
}
body {
  height: 100vh;
  background: #fffff0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* header */
header {
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5rem;
  font-weight: 800;
}
/* main */
main {
  display: flex;
  gap: 2em;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.grid-container {
  background-color: #fff;
  order: 2;
  height: 500px;
  width: 500px;
  border: solid 2px #333;
}

.grid-element {
  width: 100%;
  height: 100%;
  border: solid .1px #333;
}
/* buttons */
.btn {
  width: 100%;
  height: 2.5rem;
  border: solid .1em #333;
  border-radius: .2em;
  color: #333;
  background: transparent;
  transition: .2s;
}
.btn:hover {
  cursor: pointer;
  scale: 1.1;
  color: #fffff0;
  background: #333;
}

#userColor {
  padding: 0;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  
}

#clearBtn {
  font-size: 1.25rem;
}

/* footer */
footer {
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-text {
  font-size: 1.2rem;
  color: #333;
}