@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..800&display=swap');

/* geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
}
body {
  height: 100vh;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* header */
header {
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5rem;
  font-weight: 800;
}
/* main */
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-container {
  background-color: #fff;
  order: 2;
  height: 500px;
  width: 500px;
  border: solid 2px #333;
  display: flex;
  flex-wrap: wrap;
}

.grid-element {
  /*width: 31px;  config in js
    height: 31px;  */
  border: solid .1px #333;
}
/* footer */
footer {
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-text {
  font-size: 1.2rem;
  color: #333;
}