@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..800&display=swap');

/* geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
  border: solid .01px red;
}
body {
  height: 100vh;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* header */
header {
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5rem;
  font-weight: 800;
}
/* main */
main {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  background-color: #fff;
  order: 2;
  height: 500px;
  width: 500px;
  border: solid 2px #000;
  display: flex;
  flex-wrap: wrap;
}
.el-border {border: solid 1px #bbb;}

.settings {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: .5rem;
  padding: 1rem;
}
/* footer */
footer {
  padding: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-text {
  font-size: 1.2rem;
  color: #333;
}